@media screen and (min-width: 1576px) {
    :root {
      font-size: 18px;
      transition: font-size .3s ease;
    }
  }
  
  @media screen and (min-width: 1735px) {
    :root {
      font-size: 19.3px;
      transition: font-size .3s ease;
    }
  }
  
  @media screen and (min-width: 1921px) {
    :root {
      font-size: 22px;
      transition: font-size .3s ease;
    }
  }
  
  @media screen and (min-width: 2140px) {
    :root {
      font-size: 24px;
      transition: font-size .3s ease;
    }
  }
  
  @media screen and (max-width: 1575px) {
    :root {
      font-size: 16.4px;
      transition: font-size .3s ease;
    }
  }
  
  @media screen and (max-width: 1440px) {
    :root {
      font-size: 16px;
      transition: font-size .3s ease;
    }
  }

  @media screen and (max-width: 768px) {
    :root {
      font-size: 14px;
      transition: font-size .3s ease;
    }
  }

  @media screen and (max-width: 425px) {
    :root {
      font-size: 12px;
      transition: font-size .3s ease;
    }
  }
  
  @media screen and (max-width: 375px) {
    :root {
      font-size: 12px;
      transition: font-size .3s ease;
    }
  }
  