$color-main: #D40F14;
$color-text: #111;
$color-text-white: #fff;

$color-bg-white: #fff;

$color-checkbox: #111;
$color-placeholder: #4d4d4d;

$color-main-btn: #D40F14;
$color-default-btn: #fff;

$button-main-border: 0.25rem solid $color-main-btn;
$button-border: 0.25rem solid $color-default-btn;
$button-shadow: 0.188rem 0.188rem 0.938rem #00000033;