$color-main: #D40F14;
$color-text: #111;
$color-text-white: #fff;

$color-bg-white: #fff;

$color-checkbox: #111;
$color-placeholder: #4d4d4d;

$color-main-btn: #D40F14;
$color-default-btn: #fff;

$button-main-border: 4px solid $color-main-btn;
$button-border: 4px solid $color-default-btn;
$button-shadow: 3px 3px 15px #00000033;