<div class="calendar">
    <div class="calendar__wrapper">
        <div class="calendar__left">
            <h2 class="calendar__title">Мероприятия</h2>
            <div class="calendar__filter filter">
                <p class="filter__title">Фильтр:</p>
                <ul class="filter__controls">
                    <li class="filter__item active">Все</li>
                    <li class="filter__item">Бизнес</li>
                    <li class="filter__item">Продажи</li>
                    <li class="filter__item">Мотивация</li>
                </ul>
            </div>
            <div class="calendar__container">
                <div class="calendar__controls">
                    <button class="calendar__prev">Сен</button>
                    <button class="calendar__current">Октябрь</button>
                    <button class="calendar__next">Ноя</button>
                </div>
                <table class="calendar__table">
                    <thead class="calendar__thead">
                        <tr>
                            <th>Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                            <th>Чт</th>
                            <th>Пт</th>
                            <th>Сб</th>
                            <th>Вс</th>
                        </tr>
                    </thead>
                    <tbody class="calendar__tbody"></tbody>
                </table>
            </div>
        </div>
        <div class="calendar__right">
            <div class="swiper-container calendar-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper"></div>
            </div>
        </div>
    </div>
</div>