.dropdown {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-main;
  top: 0;
  left: 0;
  transform: translateY(-250%);
  transition: transform 0.4s ease-in-out;

  z-index: 51;

  &.down {
    transform: translateY(0);
    transition: transform 0.4 ease-in-out;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 3.125rem;

    svg {
      width: 11.5rem;
      height: inherit;
    }
    margin: 2rem 8.563rem 0 1.25rem;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2.875rem;
  }

  &__item {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: transparent;
    

    

    &:not(:first-child) {
      margin-top: 2rem;
    }

    
    
    a {
      text-decoration: none;
      color: transparent;
      -webkit-text-stroke: 2px $color-text-white;
      transition: color 0.4s ease;
      &:hover {
        transition: color 0.4s ease;
        color: $color-text-white;
      }
    }
  }

  @media screen and (min-width: 320px) {
    &__item {
      font-size: 2rem;
      line-height: 1.2;

      &:not(:first-child) {
        margin-top: 3rem;
      }

      a {
        -webkit-text-stroke-width: 1px;
      }
    }

    &__footer {
      width: 100%;
      display: flex;
      margin-top: 3.5rem;
    }

    &__contacts {
      display: flex;
      flex: 2 1 auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      padding-left: 1.25rem;

      a {
        display: flex;
        align-items: center;

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.875rem;

        height: 3rem;

        text-decoration: none;
        color: $color-text-white;

        &:not(:first-child) {
          margin-top: 0.5rem;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;

          margin-right: 0.625rem;
        }
      }
    }

    &__social {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;

      a {
        display: block;
        width: 3rem;
        text-decoration: none;
        font-size: 1.5rem;

        svg {
          width: inherit;
          height: 3rem;
        }
      }
    }
  }

  @media screen and (min-width: 480px) {
    &__item {
      font-size: 2.25rem;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }

  @media screen and (min-width: 650px) {
    &__footer {
      max-width: 650px;
      margin: 5rem auto 0 auto;
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      font-size: 2.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    &__footer {
      max-width: initial;
    }

    &__menu {
      max-height: 550px;
    }

    &__contacts {
      flex: 9 1 auto;
      align-items: flex-end;
    }

    &__social {
      flex: 1 1;
      margin: 0 2rem 0 3.6875rem;
    }

    &__menu {
      max-height: 700px;
    }
  }

  @media (max-height: 815px) {
    &__contacts a {
      font-size: 1rem;
    }

    &__footer {
      margin-top: 1rem;
    }
  }
}
