@import '../settings';

.header {
  height: 3.125rem;

  margin: 0 8.563rem 0 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.625rem;

  position: relative;
  z-index: 50;
  background-color: $color-bg-white;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 90rem;

  svg {
    height: 100%;
  }

  a {
    font-size: 1.125rem;
    font-weight: 700;
    color: $color-main;
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    height: inherit;
    display: flex;
    z-index: 10;
    svg {
      width: 11.5rem;
    }
  }

  &__navigation {
    width: 100%;
    margin: 0 2.375rem 0 3.313rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }

  &__contacts,
  &__for {
    width: 50%;
    height: inherit;
    display: flex;
    a:not(:first-child) {
      margin-left: 2.188rem;
    }
  }

  &-contacts {
    justify-content: flex-end;
    svg {
      width: 1.125rem;
      margin-right: 0.625rem;
    }
  }
}