.left-side-bar {
    position: fixed;
    width: 7.275rem;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    border-right: 2px solid $color-main;

    @media screen and (max-width: 768px) {
        width: 4.85rem;
    }

    @media screen and (max-width: 480px) {
        display: none;
    }

    @media screen and (max-width: 425px) {
        
    }
}