$border-burger: 0.125rem solid $color-main;

.sidebar {
  position: fixed;
  width: 7.29rem;
  height: 100vh;
  border-left: 2px solid $color-main;

  background-color: $color-bg-white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  top: 0;
  right: 0;
  z-index: 5;

  &__blank {
    width: 7.375rem;
    height: 6.5rem;
  }

  &__request {
    width: 5.438rem;
    height: 5.438rem;
    background-color: $color-main;
    border-radius: 50%;
    font-size: 0.75rem;
    color: $color-text-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation-play-state: paused;

    &:hover {
      cursor: pointer;
      animation: pulse 2s infinite;
    }

    p {
      margin: 0;
      height: 2.125rem;
    }
  }

  &__arrow-top {
    margin-bottom: 6.875rem;
    svg {
      height: 2.75rem;
      width: 2.75rem;
    }

    .arrow-use path {
      animation: arrow-top 2s linear infinite;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.burger-wrapper {
  width: 7.375rem;
  // height: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  // background-color: white;
  z-index: 52;

  .burger {
    position: fixed;
    z-index: 10;
    top: 2rem;

    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: $border-burger;
    border-radius: 50%;

    transition: border-color 0.4s ease;

    &:hover {
      cursor: pointer;
    }

    span {
      position: absolute;
      max-width: 1.688rem;
      width: 100%;
      height: 0.125rem;
      display: block;
      background-color: $color-main;

      transition: transform 0.4s ease, background-color 0.4s ease,
        opacity 0.2s ease, margin 0.5s ease, top 0.3s ease, bottom 0.3s ease;

      &:first-child {
        bottom: 0.875rem;
      }
      &:last-child {
        top: 0.875rem;
      }
    }
  }
}

.center-line {
  position: fixed;
  z-index: -4;
  height: 100%;
  top: 0;
  left: 50%;
  border-right: 2px solid $color-main;
}

@keyframes arrow-top {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(215, 15, 22, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(215, 15, 22, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(215, 15, 22, 0);
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    height: 100%;
    width: 5rem;

    &__blank {
      width: 5rem;
    }

    &__request {
      width: 4rem;
      height: 4rem;

      p {
        font-size: 0.5rem;
        height: 1.5rem;
      }
    }
  }

  .center-line {
    display: none;
  }

  .burger-wrapper {
    width: 5rem;

    .burger span {
      height: 2px;
    }
  }
}


@media screen and (max-width: 425px) {
  .sidebar {
    width: 4.2rem;

    &__blank {
      width: 4.2rem;
    }

    &__request {
      width: 3.15rem;
      height: 3.15rem;

      p {
        font-size: 0.5rem;
        height: 2rem;
      }
    }
  }

  .burger-wrapper {
    width: 4.2rem;

    .burger span {
      height: 2px;
    }
  }
}

@media screen and (max-width: 375px) {
  .sidebar {
    width: 4.133rem;

    &__blank {
      width: 4.133rem;
    }

    &__request {
      width: 3.138rem;
      height: 3.138rem;

      p {
        font-size: 0.45rem;
        height: 1.5rem;
      }
    }
  }

  .burger-wrapper {
    width: 4.133rem;
  }
}
