.team {
  background-color: $color-main;

  &__wrapper {
    width: calc(100% - 14.75rem);
    margin: 0 auto;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 3.813rem;
    text-transform: uppercase;
    color: $color-text-white;

    padding-top: 2.063rem;
    margin-left: 1.875rem;
    // width: calc(100% - 9rem);
    // margin: 0 auto;
  }

  &__text {
    margin-top: 4.375rem;
    margin-left: 4.563rem;
    max-width: 28.563rem;
    p {
      color: $color-text-white;
      font-size: 1.25rem;
      line-height: 1.813rem;
    }
  }

  &__info {
    display: flex;
    // width: calc(100% - 9rem);
    margin: 0 auto;
  }

  &__right {
    width: 55%;
  }

  &__left {
    width: 45%;
  }

  .right-content {
    &__images {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 4.375rem;
      margin-right: 1.25rem;
    }

    &__image-bottom,
    &__image-top {
      width: 28.125rem;
      position: relative;
      box-shadow: 0.375rem 0.375rem 1.25rem rgba(0, 0, 0, 0.25);
      border-radius: 1.25rem;
    }

    &__image-top {
      z-index: 2;
      top: -8.75rem;
      right: 7.625rem;
    }
  }

  &__button {
    display: inline-block;
    text-decoration: none;
    color: $color-text-white;
    background-color: $color-main;
    border: $button-border;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.875rem;
    border-radius: 1.25rem;
    padding: 0.688rem 2.625rem;
    margin-top: 5rem;
    box-shadow: $button-shadow;

    transition: color 0.4s ease, background-color 0.4s ease;

    &:hover {
      cursor: pointer;
      transition: color 0.4s ease, background-color 0.4s ease;

      color: $color-main;
      background-color: $color-default-btn;
    }
  }

  @media screen and (max-width: 425px) {
    &__wrapper {
      width: calc(100% - 3.7rem);
      margin-left: 1.25rem;
      padding: 2rem 0;
    }

    &__title {
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }

    &__info {
      margin-top: 1rem;
      flex-direction: column-reverse;
    }

    &__right,
    &__left {
      width: 100%;
    }

    .right-content {
      &__images {
        margin: 0;
      }

      &__image {
        width: 85%;

        img {
          width: 98%;
        }
      }

      &__image-top {
        right: 5rem;
      }
    }

    &__text {
      margin: 0;
      max-width: none;
      width: 98%;

      p {
        font-size: 1.5rem;
        line-height: 1.6;
      }
    }

    &__button {
      display: block;
      margin: 3rem auto;
    }
  }

  @media screen and (max-width: 375px) {
    &__wrapper {
      width: calc(100% - 4.2rem);
      padding: 1.875rem 0 2rem 0;
    }

    &__title {
      font-size: 1.55rem;
      margin: 0;
      padding-top: 0;
    }

    .right-content {
      &__image {
        width: 80%;

        img {
          width: 100%;
          border-radius: 0.65rem;
        }
      }

      &__image-top {
        top: -6rem;
        right: 5.25rem;
      }

      &__image-bottom {
        right: 1.35rem;
      }
    }

    &__text {
      p {
        font-size: 1.25rem;
        line-height: 1.525rem;
      }
    }
  }
}
