<div class="info-price">
    <div class="info-price__left">
        <picture>
            <source type="image/webp" srcset="img/event/bottom-img.webp">
            <source type="image/jpeg" srcset="img/event/bottom-img.jpg">
            <img class="info-price__bottom-img" src="img/event/bottom-img.webp" alt="Фотография события">
        </picture>
        <picture>
            <source type="image/webp" srcset="img/event/top-img.webp">
            <source type="image/jpeg" srcset="img/event/top-img.jpg">
            <img class="info-price__top-img" src="img/event/top-img.webp" alt="Фотография события">
        </picture>
    </div>
    <div class="info-price__right">
        <div class="info-price__description-wrapper">
            <p class="info-price__description">
                Мы в Кадровом центре заинтересованы в том, чтобы каждый человек находился на
                своём месте и занимался делом, которое придётся ему по душе. Только получая удовольствие от работы человек
                будет выполнять её максимально продуктивно.
            </p>
            <p class="info-price__description">Для работодателей также важно найти человека, который будет любить свою работу
                и максимально отдаваться ей.</p>
            <p class="info-price__description">
                Именно в этом и заключается цель Кадрового центра, подобрать наиболее подходящего сотрудника на наиболее
            </p>
            <h2 class="info-price__price">Стоимость:<span>5000 руб</span></h2>
        </div> 
    </div>
</div>