<div class="main-info">
    <div class="main-info__left">
        <a href="events.html" class="main-info__all-events">Все мероприятия</a>
        <h2 class="main-info__title">КОМАНДООБРАЗОВАНИЕ и мотвация от ИГОРЯ ДАВЫДОВА</h2>
        <p class="main-info__description">
            Мы в Кадровом центре заинтересованы в том, чтобы каждый человек находился на
            своём месте и занимался делом, которое придётся ему по душе. Только получая удовольствие от работы человек
            будет выполнять её максимально продуктивно.
        </p>
        <p class="main-info__description">Для работодателей также важно найти человека, который будет любить свою работу
            и максимально отдаваться ей.</p>
        <p class="main-info__description">
            Именно в этом и заключается цель Кадрового центра, подобрать наиболее подходящего сотрудника на наиболее
        </p>
    </div>
    <div class="main-info__right">
        <picture>
            <source type="image/webp" srcset="img/event/bottom-img.webp">
            <source type="image/jpeg" srcset="img/event/bottom-img.jpg">
            <img class="main-info__bottom-img" src="img/event/bottom-img.webp" alt="Фотография события">
        </picture>
        <picture>
            <source type="image/webp" srcset="img/event/top-img.webp">
            <source type="image/jpeg" srcset="img/event/top-img.jpg">
            <img class="main-info__top-img" src="img/event/top-img.webp" alt="Фотография события">
        </picture>
    </div>
</div>