<div class="offer-card-price">
    <form class="offer-card-price__card">
        <label class="card__name" for="name">Ваше имя</label>
        <input type="text" name="name" id="name" placeholder="Константин Константинов">
        <label class="card__email" for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="email@yandex.ru">
        <label class="card__distribution">
            <input type="checkbox" name="distribution" id="distribution">
            <span>Подписаться на рассылку анонсов мероприятий</span>
        </label>
        <label class="card__consent">
            <input type="checkbox" name="consent" id="consent">
            <span>Я согласен на <a href="#">Обработку персональных данных</a></span>
        </label>
        <div class="card__submit">
            <span>5000 руб.</span>
            <button type="submit">Купить</button>
        </div>
    </form>
</div>