<div class="page-controls">
    <div class="page-controls__prev">
        <div class="page-controls__content">
            <time class="page-controls__date" datetime="2020-05-21">21.05</time>
            <h3 class="page-controls__title">Тренинг личностного роста</h3>
            <p class="page-controls__text">Тут краткое описание тренинга, возможно начало из уже основной сатьи.</p>
            <div class="page-controls__button-prev">
                ПРЕДЫДущее
            </div>
        </div>
    </div>
    <div class="page-controls__next">
        <div class="page-controls__content">
            <time class="page-controls__date" datetime="2020-05-21">21.05</time>
            <h3 class="page-controls__title">Тренинг личностного роста</h3>
            <p class="page-controls__text">Тут краткое описание тренинга, возможно начало из уже основной сатьи.</p>
            <div class="page-controls__button-next">
                СЛЕДУЮЩЕЕ
            </div>
        </div>
    </div>
</div>