.employer-info {
  &__wrapper {
    width: calc(100% - 14.75rem);
    margin: 0 auto;
    display: flex;
  }

  &__title {
    text-transform: uppercase;
    color: $color-main;
    font-size: 4rem;
    line-height: 6.583rem;
    margin-top: 10.583rem;
    padding-left: 1.25rem;

    &-block-right {
      display: none;
    }
  }

  &__block-left,
  &__block-right {
    width: 50%;
  }

  &__titles {
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-transform: uppercase;
    font-size: 3rem;
    line-height: 4.938rem;

    padding-left: 1.25rem;

    :not(:first-child) {
      margin-top: 2.125rem;
    }

    color: $color-text-white;
    -webkit-text-stroke: 0.125rem $color-main;

    img {
      position: absolute;
      width: 26.563rem;
      opacity: 0;
      z-index: -1;

      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      transition: opacity 0.3s ease;

      &.active {
        z-index: 1;
        transition: opacity 0.3s ease;
        opacity: 1;
      }
    }
  }

  &__item {
    transition: color 0.4s ease;
    z-index: 0;

    &.active {
      z-index: 2;
    }

    &:hover {
      transition: color 0.4s ease;
      cursor: pointer;
      color: $color-main;
    }
  }

  &__description {
    margin-top: 1.875rem;
    padding-left: 1.25rem;
    max-width: 28.625rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  &__buttons {
    margin-top: 6.75rem;
    padding-left: 1.25rem;
  }

  &__request {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.875rem;

    padding: 0.688rem 1.563rem;

    border-radius: 1.25rem;
    box-shadow: $button-shadow;

    color: $color-text-white;
    background-color: $color-main;
    border: $button-main-border;

    outline: none;

    transition: color 0.4s ease, background-color 0.4s ease;

    &:hover {
      transition: color 0.4s ease, background-color 0.4s ease;
      cursor: pointer;
      color: $color-main;
      background-color: $color-default-btn;
    }
  }

  &__download-offer {
    max-width: 17.125rem;
    max-height: 3.313rem;

    background: url('../img/sprite.svg#download-arrow') -.5rem .425rem / no-repeat;
    background-size: 1.688rem;

    display: block;

    margin-left: 1.438rem;
    margin-top: 2.5rem;
    padding-left: 1.25rem;

    text-decoration: none;
    text-align: left;

    color: $color-main;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.875rem;

    span {
        font-size: 0.875rem;
        line-height: 1.438rem;
        text-decoration: underline;
    }
  }

  @media screen and (max-width: 1440px) {
    &__title {
      font-size: 3rem;
      line-height: 1.4;
    }

    &__item {
      font-size: 3rem;
      line-height: 1.4;
    }
  }

  @media screen and (max-width: 1295px) {
    &__item {
      font-size: 2.75rem;
    }
  }

  @media screen and (max-width: 1225px) {
    &__item {
      font-size: 2.35rem;
    }

    &__title {
      font-size: 2.35rem;
    }
  }

  @media screen and (max-width: 1077px) {
    &__item {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 1024px) {
    &__wrapper {
      flex-direction: column-reverse;
    }

    &__title {
      display: none;

      &-block-right {
        display: block;
        padding-left: 1.25rem;
        font-size: 3.5rem;
        color: $color-main;
      }
    }

    &__block-left, &__block-right {
      width: 100%;
    }

    &__block-right {
      margin-top: 6.5rem;
    }

    &__titles {
      margin-top: 3rem;
    }

    &__item {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 768px) {
    &__wrapper {
      width: calc(100% - 9.85rem);
    }
  }

  @media screen and (max-width: 600px) {
    &__item {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 527px) {
    &__titles {
      padding-left: .75rem;
    }

    &__item {
      -webkit-text-stroke: 1px $color-main;
      font-size: 2.25rem;
    }

    &__title-block-right {
      font-size: 2.85rem;
      padding-left: .75rem;
    }

    &__description {
      padding-left: .75rem;
    }

    &__buttons {
      padding-left: .75rem;
    }

    &__download-offer {
      margin-left: .95rem;
    }
  }

  @media screen and (max-width: 480px) {
    &__wrapper {
      width: calc(100% - 5.6rem);
      margin: 0 auto 0 0;
    }

    &__title {
      display: block;
      margin-top: 5rem;
      padding-left: 0;
    }

    &__description {
      padding-left: 0;
    }

    &__block-left {
      width: 95%;
      padding-left: 1.25rem;
    }

    &__block-right {
      display: none;
    }
  }

  @media screen and (min-width: 1441px) {
    &__title {
      font-size: 3.8rem;
      line-height: 1.4;
    }
    &__item {
      font-size: 2.9rem;
      line-height: 1.4;
    }
  }
}