<div class="about">
    <div class="about__wrapper">
        <h2 class="about__title">О Кадровом Центре</h2>
        <div class="about__info">
            <div class="about__left left-content">
                <div class="left-content__images">
                    <picture class="left-content__image">
                        <source srcset="/img/office-picture.webp" media="(min-width: 1440px)">
                        <img class="left-content__image-bottom" src="/img/office-picture.webp" alt="office">
                    </picture>
                    <picture class="left-content__image">
                        <source srcset="/img/office-picture-1.webp" media="(min-width: 1440px)">
                        <img class="left-content__image-top" src="/img/office-picture-1.webp" alt="office">
                    </picture>
                </div>
            </div>
            <div class="about__right right-content">
                <h3 class="right-content__title">«Кадровый центр» - место, где создаются правильные отношения.</h3>
                <div class="right-content__description">
                    <p>Мы в Кадровом центре заинтересованы в том, чтобы каждый человек находился на своём месте и занимался делом,
                    которое придётся ему по душе. Только получая удовольствие от работы человек будет выполнять её максимально
                    продуктивно.</p>
                    <p>Для работодателей также важно найти человека, который будет любить свою работу и максимально отдаваться ей.</p>
                    <p>Именно в этом и заключается цель Кадрового центра, подобрать наиболее подходящего сотрудника на наиболее</p>
                </div>
                <button class="right-content__button">Сотрудничать</button>
            </div>
        </div>
    </div>
</div>