<footer class="contacts">
    <div class="contacts__wrapper">
        <h2 class="contacts__title">Контакты</h2>
        <div class="contacts__content">
            <div class="contacts__left">
                <div class="contacts__info">
                    <address class="contacts__address">Чехова 23, Иркутск</address>
                    <a class="contacts__phone" href="tel:+7(3952)48-99-00">+7 (3952) 48-99-00</a>
                    <a class="contacts__email" href="mailto:info@kadr-center.ru">info@kadr-center.ru</a>
                </div>
                <div class="contacts__map" id="map-contacts"></div>
            </div>
            <div class="contacts__right">
                <from class="contacts__form form">
                    <label class="form__name" for="name">Ваше имя</label>
                    <input type="text" name="name" id="name" placeholder="Константин Константинов">
                    <label class="form__email" for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="email@yandex.ru">
                    <label class="form__message" for="message">Сообщение</label>
                    <textarea name="message" id="message" rows="3" placeholder="Введите текст"></textarea>
                    <label class="form__distribution">
                        <input type="checkbox" name="distribution" id="distribution">
                        <span>Подписаться на  рассылку анонсов мероприятий</span>
                    </label>
                    <label class="form__consent">
                        <input type="checkbox" name="consent" id="consent">
                        <span>Я согласен на <a class="consent-desktop" href="#">Обработку персональных данных</a> <div class="consent-mobile">обработку персональных <a href="#">данных</a></div></span>
                    </label>
                    <div class="form__submit">
                        <button type="submit">Отправить</button>
                    </div>
                </from>
            </div>
        </div>
        <div class="contacts__links links">
            <div class="links__column">
                <div class="links__row">
                    <a href="#" target="_blank" rel="noopener noreferrer" class="links__link">Работодатель</a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="links__link">Мероприятия</a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="links__link">О нас</a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="links__link">Нам доверяют</a>
                </div>
                <div class="links__row">
                    <a href="#" class="links__link">Соискатель</a>
                    <a href="#" class="links__link">Карьера у нас</a>
                    <a href="#" class="links__link">Команда</a>
                    <a href="#" class="links__link">Контакты</a>
                </div>
            </div>
            <div class="links__column">
                <div class="links__social social">
                    <a href="#" class="social-ut">
                        <svg>
                            <use xlink:href="img/sprite.svg#social-youtube"></use>
                        </svg>
                    </a>
                    <a href="#" class="social-inst">
                        <svg>
                            <use xlink:href="img/sprite.svg#social-inst"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>