<div class="decoy">
    <div class="decoy__wrapper">
        <h1 class="decoy__title">
            КАДРОВЫЙ ЦЕНТР - ЭТО МЕСТО ГДЕ ЛЮБОЙ<br class="br--decoy">
            <a href="aspirant.html"><span>СОИСКАТЕЛЬ</span></a> НАЙДЕТ РАБОТУ МЕЧТЫ,<br class="br--decoy">
            А <a href="employer.html"><span>РАБОТОДАТЕЛЬ</span></a> СОТРУДНИКА СЕБЕ<br class="br--decoy">
            ПО ДУШЕ!
        </h1>
    </div>
    <div class="decoy__popup-employer">
    </div>
    <div class="decoy__popup-aspirant">
        <!-- <picture>
            <img src="img/popup-aspirant.jpg" alt="Работник">
        </picture> -->
    </div>
</div>