<header class="header">
    <div class="header__logo">
        <svg>
            <use xlink:href="img/sprite.svg#kadr-logo"></use>
        </svg>
    </div>
    <nav class="header__navigation">
        <div class="header__for header-for">
            <a href="#" class="header-for__aspirant">Для соискателя</a>
            <a href="#" class="header-for__employer">Для работодателя</a>
        </div>
        <div class="header__contacts header-contacts">
            <a href="mailto:info@kadr-center.ru" class="header-contacts__mail">
                <svg>
                    <use xlink:href="img/sprite.svg#mail"></use>
                </svg>
                info@kadr-center.ru
            </a>
            <a href="tel:+7(3952)48-99-00" class="header-contacts__phone">
                <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                +7 (3952) 48-99-00
            </a>
        </div>
    </nav>
</header>