<div class="partners">
    <div class="partners__wrapper">
        <h2 class="partners__title">
            Нам доверяют
        </h2>
        <div class="partners__container">
            <div class="partners__left">
                <div class="partners__content-column">
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-discount"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-industry"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zero-one"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#nachinka"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zero-one"></use>
                    </svg>
                </div>
                <div class="partners__content-column">
                    <svg>
                        <use xlink:href="img/sprite.svg#kadr-center"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#kolhoz"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-opt"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#kormnadom"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-opt"></use>
                    </svg>
                </div>

            </div>
            <div class="partners__right">
                <div class="swiper-container partners-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <source media="(min-width: 1440)" srcset="img/avatar1" type="image/webp">
                                <img src="img/avatar1.webp" alt="Генеральный директор" class="partners-swiper__avatar">
                            </picture>
                            <h3 class="partners-swiper__title">
                                Константинов Константин
                            </h3>
                            <p class="partners-swiper__subtitle">
                                Генеральный директор ООО ”Блаблабла”
                            </p>
                            <div class="partners-swiper__info">
                                Коллектив «Кадрового центра» состоит из неравнодушных к своей профессии людей. Мы чётко
                                осознаём нашу роль в развитии Иркутского рынка труда и взаимоотношений между
                                работодателем и соискателем.
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source media="(min-width: 1440)" srcset="img/avatar2" type="image/webp">
                                <img src="img/avatar2.webp" alt="Генеральный директор" class="partners-swiper__avatar">
                            </picture>
                            <h3 class="partners-swiper__title">
                                Петров Петр
                            </h3>
                            <p class="partners-swiper__subtitle">
                                Заместитель генерального директора ООО ”Блаблабла”
                            </p>
                            <div class="partners-swiper__info">
                                Коллектив «Кадрового центра» состоит из неравнодушных к своей профессии людей. Мы чётко
                                осознаём нашу роль в развитии Иркутского рынка труда и взаимоотношений между
                                работодателем и соискателем.
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source media="(min-width: 1440)" srcset="img/avatar1" type="image/webp">
                                <img src="img/avatar1.webp" alt="Генеральный директор" class="partners-swiper__avatar">
                            </picture>
                            <h3 class="partners-swiper__title">
                                Константинов Константин
                            </h3>
                            <p class="partners-swiper__subtitle">
                                Генеральный директор ООО ”Блаблабла”
                            </p>
                            <div class="partners-swiper__info">
                                Коллектив «Кадрового центра» состоит из неравнодушных к своей профессии людей. Мы чётко
                                осознаём нашу роль в развитии Иркутского рынка труда и взаимоотношений между
                                работодателем и соискателем.
                            </div>
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <!-- <div class="swiper-button-prev"></div> -->
                    <div class="swiper-button-next"></div>
                </div>
                <div class="partners__gradient-top"></div>
                <div class="partners__gradient-bottom"></div>
            </div>
        </div>
    </div>
</div>