<div class="partners">
    <div class="partners__wrapper">
        <h2 class="partners__title">
            Нам доверяют
        </h2>
        <div class="partners__container">
            <div class="partners__left">
                <div class="partners__content-column">
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-discount"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-industry"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zero-one"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#nachinka"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zero-one"></use>
                    </svg>
                </div>
                <div class="partners__content-column">
                    <svg>
                        <use xlink:href="img/sprite.svg#kadr-center"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#kolhoz"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-opt"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#kormnadom"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#zoo-opt"></use>
                    </svg>
                </div>

            </div>
            <div class="partners__right">

            </div>
        </div>
    </div>
</div>