<div class="slider">
    <div class="slider__wrapper">
        <h2 class="slider__title">Мероприятия</h2>

        <div class="swiper-container swiper-events">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide">
                        <time class="slide__date" datetime="2020-05-21">21.05</time>
                        <div class="slide__substrate substrate">
                            <div class="substrate__head">
                                <h3 class="substrate__title">
                                    Тренинг личностного роста
                                </h3>
                                <p class="substrate__description">
                                    Тут краткое описание тренинга, возможно начало из уже асновной сатьи.
                                </p>
                            </div>
                            <div class="substrate__footer">
                                <button class="substrate__button">
                                    Записаться
                                </button>
                                <div class="substrate__arrow-link">
                                    <svg viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="26" cy="26" r="24" stroke="#D40F14" stroke-width="4" />
                                        <path d="M21 16L32 26.5L21 37" stroke="#D40F14" stroke-width="4" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <time class="slide__date" datetime="2020-05-21">21.05</time>
                        <div class="slide__substrate substrate">
                            <div class="substrate__head">
                                <h3 class="substrate__title">
                                    Тренинг личностного роста
                                </h3>
                                <p class="substrate__description">
                                    Тут краткое описание тренинга, возможно начало из уже асновной сатьи.
                                </p>
                            </div>
                            <div class="substrate__footer">
                                <button class="substrate__button">
                                    Записаться
                                </button>
                                <div class="substrate__arrow-link">
                                    <svg viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="26" cy="26" r="24" stroke="#D40F14" stroke-width="4" />
                                        <path d="M21 16L32 26.5L21 37" stroke="#D40F14" stroke-width="4" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <time class="slide__date" datetime="2020-05-21">21.05</time>
                        <div class="slide__substrate substrate">
                            <div class="substrate__head">
                                <h3 class="substrate__title">
                                    Тренинг личностного роста
                                </h3>
                                <p class="substrate__description">
                                    Тут краткое описание тренинга, возможно начало из уже асновной сатьи.
                                </p>
                            </div>
                            <div class="substrate__footer">
                                <button class="substrate__button">
                                    Записаться
                                </button>
                                <div class="substrate__arrow-link">
                                    <svg viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="26" cy="26" r="24" stroke="#D40F14" stroke-width="4" />
                                        <path d="M21 16L32 26.5L21 37" stroke="#D40F14" stroke-width="4" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <a href="events.html" class="slider__button">Все мероприятия</a>
    </div>

</div>