<div class="team">
    <div class="team__wrapper">
        <h2 class="team__title">Команда</h2>
        <div class="team__info">
            <div class="team__left">
                <div class="team__text">
                    <p>
                        Коллектив «Кадрового центра» состоит из неравнодушных к своей профессии людей. Мы чётко осознаём нашу
                        роль в развитии Иркутского рынка труда и взаимоотношений между работодателем и соискателем. Наши
                        руководители и специалисты совместно участвуют в развитии проекта, привнося новые идеи и отдавая часть
                        себя реализации этих идей. Мы знаем - нам по плечу создать более честную и справедливую систему рабочих
                        взаимоотношений в компаниях наших партнёров.
                    </p>
                </div>
                <div class="team__link-wrapper">
                    <a class="team__button" href="career.html">Карьера у нас</a>
                </div>
            </div>
            <div class="team__right">
                <div class="right-content__images">
                    <picture class="right-content__image">
                        <source srcset="img/team.webp" media="(min-width: 1440px)">
                        <img class="right-content__image-bottom" src="img/team.webp" alt="office">
                    </picture>
                    <picture class="right-content__image">
                        <source srcset="img/office-picture-1.webp" media="(min-width: 1440px)">
                        <img class="right-content__image-top" src="img/office-picture-1.webp" alt="office">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>