<div class="career">
    <div class="career__left">
        <div class="career__title">Карьера у нас</div>
        <div class="career__text">
            Размещение вакансий на hh.ru, superjob.ru, rabota.ru и др.
            При увольнении сотрудника, подбираем нового кандидата бесплатно
            Обучающие тренинги для соискателей по индивидуальной программе, основываясь на потребностях работодателя и
            возможностях сотрудника
        </div>
    </div>
    <div class="career__right"></div>
</div>