<div class="career">
    <div class="career__wrapper">
        <div class="career__block-left">
            <h3 class="career__title">КАРЬЕРА У НАС</h3>
            <p class="career__description">
                Размещение вакансий на hh.ru, superjob.ru, rabota.ru и др.<br>
                При увольнении сотрудника, подбираем нового кандидата бесплатно<br>
                Обучающие тренинги для соискателей по индивидуальной программе, основываясь на потребностях работодателя
                и возможностях сотрудника
            </p>
        </div>
        <div class="career__block-right">
            <h3 class="career__vacancy--none">
                В ДАННЫЙ МОМЕНТ
                ВАКАНСИЙ
                НЕТ
            </h3>
            <div class="career__vacancy"></div>
        </div>
    </div>
</div>