<div class="aspirant-info">
    <div class="aspirant-info__wrapper">
        <div class="aspirant-info__block-left">
            <h3 class="aspirant-info__title">ДЛЯ СОИСКАТЕЛЯ</h3>
            <p class="aspirant-info__description">
                Размещение вакансий на hh.ru, superjob.ru, rabota.ru и др.<br>
                При увольнении сотрудника, подбираем нового кандидата бесплатно<br>
                Обучающие тренинги для соискателей по индивидуальной программе, основываясь на потребностях работодателя
                и возможностях сотрудника
            </p>
            <div class="aspirant-info__buttons">
                <button class="aspirant-info__worksheet">Заполнить анкету</button>
                <button class="aspirant-info__summary">Заказать резюме</button>
            </div>
        </div>
        <div class="aspirant-info__block-right">
            <h3 class="aspirant-info__title-block-right">ДЛЯ СОИСКАТЕЛЯ</h3>
            <div class="aspirant-info__titles">
                <h3 class="aspirant-info__item">
                    ГАРАНТИРОВАННЫЙ
                    ДОХОД
                </h3>
                <h3 class="aspirant-info__item">
                    РАБОТА МЕЧТЫ
                </h3>
                <h3 class="aspirant-info__item">
                    ПРОФЕССИОНАЛЬНОЕ
                    РЕЗЮМЕ
                </h3>

                <img src="img/gif1.jpg" alt="Всплывающее изображение" class="gif1">
                <img src="img/gif2.jpg" alt="Всплывающее изображение" class="gif1">
                <img src="img/gif3.jpg" alt="Всплывающее изображение" class="gif1">
            </div>
        </div>
    </div>
</div>