<div class="employer-info">
    <div class="employer-info__wrapper">
        <div class="employer-info__block-left">
            <h3 class="employer-info__title">ДЛЯ РАБОТОДАТЕЛЯ</h3>
            <p class="employer-info__description">
                Размещение вакансий на hh.ru, superjob.ru, rabota.ru и др.<br>
                При увольнении сотрудника, подбираем нового кандидата бесплатно<br>
                Обучающие тренинги для соискателей по индивидуальной программе, основываясь на потребностях работодателя
                и возможностях сотрудника
            </p>
            <div class="employer-info__buttons">
                <button class="employer-info__request">Оставить заявку</button>
            </div>


            <a href="offer.txt" download class="employer-info__download-offer">
                СКАЧАТЬ:<br><span>КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</span>
            </a>

        </div>
        <div class="employer-info__block-right">
            <h3 class="employer-info__title-block-right">ДЛЯ РАБОТОДАТЕЛЯ</h3>
            <div class="employer-info__titles">
                <h3 class="employer-info__item">
                    Экономия времени
                    на отбор
                </h3>
                <h3 class="employer-info__item">
                    Аутсорсинг кадров
                </h3>
                <h3 class="employer-info__item">
                    ОПЛАТА ПОСЛЕ
                    ЗАРПЛАТЫ
                </h3>

                <img src="img/gif4.jpg" alt="Всплывающее изображение">
                <img src="img/gif5.jpg" alt="Всплывающее изображение">
                <img src="img/gif6.jpg" alt="Всплывающее изображение">
            </div>
        </div>
    </div>
</div>